## USER IP BANNING
#<Limit GET POST>
# order deny,allow
# deny from all
# allow from 91.214.131.77
# allow from 194.187.148.219
#</Limit>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

